extends layout

block styles
  //- link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/tableStyle.min.css')

block scripts
  script(src='/jquery/jquery.min.js')
  script(src='/underscore/underscore-min.js')
  script(src='/d3/d3.min.js')
  script(src='/common/qrcode.min.js')
  script(src='/scripts/dominoPartGraphicUniversal.min.js')
  script(src='/scripts/dominosGameInterface.min.js')
  script(src='/scripts/dominoGameLoad.min.js')
  script.
    var config = config || {};
    config.addressRemote = '#{addressRemote}';
    config.countWoman = '#{woman}';
    config.countMan = '#{man}';
    
block content
  #global
    #registerPage
      .row
        h1 Bienvenue dans DominoJS.
      .row      
        h2 Connectez vous au WiFi JCDecaux Gaming, et scannez le tag NFC ou le QR code.
      #qrBackground.row
        #qrcode
      #infobar.row
        .row
          span#info_0
        .row
          span#info_1
        .row
          span#info_2
        .row
          span#info_3  
    #startPage
      .row
        span#infoTurn
      #table.row
    #gameover
