extends layout

block styles
  //- link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/tableStyle.css')

block scripts
  script(src='/scripts/dominoPartGraphicUniversal.js')
  script(src='/scripts/dominosGameInterface.js')
  script(src='/scripts/dominoGameLoad.js')

block content
  #global
    #registerPage
      .row
        h1 Bienvenue dans DominoJS.
      .row      
        h1 Connectez vous au WiFi, et scannez le tag NFC.
      #infobar.row
        .row
          span#info_0
        .row
          span#info_1
        .row
          span#info_2
        .row
          span#info_3  
    #startPage
      .row
        span#infoTurn
      #table.row
    #gameover
