extends layout

block styles
  link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/playerStyle.min.css')


block scripts  
  script(src='/underscore/underscore-min.js')
  script(src='/d3/d3.min.js')
  script(src='/scripts/dominoPartGraphic.js')
  script(src='/scripts/progressBarSvg.js')
  script(src='/scripts/dominosPlayerInterface.js')
  script(src='/jquery/jquery.min.js')
  script(src='/scripts/dominoPlayerLoad.js')


block content

  #registerPage
    .row
      h1 Bienvenue dans DominoJS
    .row
      input#playerName( type='text' name='playerName' placeholder='Entrez votre nom')
    .row
      button(id='register') Je m'inscris !
  #startPage
    .row
      h1 Prêt à jouer?
      p#accueil
    div(class='row' id='startButtonRow')
      button(id='start') START
    div(class='row' id='infoBar')
      p#infobar
  #handPage
    .row
      h1#handPageTitle
      #hand
    .row
      #divProgressBar
  #shaderPicker
    .row
    p#messagePicker Vous ne pouvez pas jouer ce tour. Pioche automatique d'une pièce aléatoire.
  #gameOver
    .row
    h1#winner
    p#winnerName
