extends layout

block styles
  //- link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/tableStyle.css')

block scripts
  script(src='/scripts/jquery-3.0.0.min.js')
  script(src='/scripts/underscore-min.js')
  script(src='/scripts/d3.js')
  script(src='/scripts/dominoPartGraphicUniversal.js')
  script(src='/scripts/dominosGameInterface.js')
  script(src='/scripts/dominoGameLoad.js')
  script(src='/scripts/qrcode.min.js')
  script.
    var config = config || {};
    config.addressRemote = '#{addressRemote}';

block content
  #global
    #registerPage
      .row
        h1 Bienvenue dans DominoJS.
      .row      
        h1 Connectez vous au WiFi, et scannez le tag NFC ou le QR code.
      #qrBackground.row
        #qrcode
      #infobar.row
        .row
          span#info_0
        .row
          span#info_1
        .row
          span#info_2
        .row
          span#info_3  
    #startPage
      .row
        span#infoTurn
      #table.row
    #gameover
