doctype html
html
  head
    title MWC 2017 JcDecaux Remote
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.min.css')
    script(src='jquery/jquery.min.js')
    script(src='/scripts/remote.min.js')
  #decoRight
    img(src='img/bg-deco-hautdroit.png')
  #decoLeft
    img(src='img/bg-deco-basgauche.png')
  #title
    img(src='img/logo-mwc17.png', style='width: 15vw;')
    br
    img(src='img/logo-gsma.png', style='width: 30vw;')
  #jcdecaux
    img(src='img/logo-jcdecaux.png')
  #buttons
    ul
      li
        span.hvr-wobble-to-bottom-right
          img(src='img/picto-01-360.png')
        br  
        |360 SOLUTION
      li
        span.hvr-wobble-to-bottom-right
          img(src='img/picto-02-video.png')
        br  
        |VIDEOS
      li
        span.hvr-wobble-to-bottom-right
          img(src='img/picto-03-jeu.png')
        br  
        |GAME