doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title Urban Playground Remote Control
    link(rel='stylesheet', type='text/css', href='/css/style.min.css')
    script.
      var config = {};
      config.address = '#{address}';
      config.port = '#{port}';    
    script(src='scripts/remote.js')
  body
    img(id='home' src='/img/back-home.png', style='margin-left: 100px; margin-top: 100px;')
    div(style='margin: auto;')
      #button-container1.button-container
        #space.button.hvr-wobble-to-bottom-right
          img(src='/img/picto-fusee.png', style='float: left; position:relative; top: 22%; left: 18%;')
      #button-container2.button-container
        #domino.button.hvr-wobble-to-bottom-right
          img(src='/img/picto-domino.png', style='float: left; position:relative; top: 22%; left: 18%;')
    //- img(src='/img/visuel-gauche.png', style='position:absolute; top: 800px; left: 0px;')
    //- img(src='/img/visuel-droite.png', style='position:absolute; top: 800px; right: 0px;')
    img(src='/img/logo-urbanplayground.png', style='position:absolute; bottom: 100px; left: 1130px;')
