extends layout

block styles
  link(rel='stylesheet', href='/css/spaceinvaders.min.css')

  style.
      .console-log-div {
      z-index: 999;
      position: absolute;
      top: 50px,50px;
      width: 95% !important;
      height: 90%;      
      color:red;
      }
      #log {
      margin: 10px 0px;
      display: block;
      white-space: pre;
      font-family: monospace;
      }
      #log:before {
      content: "log javascript:";
      font-style: italic;
      color: #555;
      }

block scripts  
  script(src='/common/collection.min.js')
  script(src='/common/phaser.js')  
  script(src='/common/qrcode.min.js')  
  script(src='/scripts/spaceInvaders.min.js')
  script(src='/scripts/virtualJoystickReceiver.js')
  script(src='/scripts/spaceInvadersGameLoad.js')
  script.
    var config = config || {};
    config.addressRemote = '#{addressRemote}';  
    config.countWoman = '#{woman}';
    config.countMan = '#{man}';

block content
  //- script(src='/common/console-log-div.js')
  #gameView
  #qrBackground
    #qrcode
