extends layout

block styles
  link(rel='stylesheet', href='/css/spaceinvaders.css')

block scripts
  script(src='/scripts/collection.js')
  script(src='/scripts/phaser.min.js')  
  script(src='/scripts/qrcode.min.js')  
  script(src='/scripts/spaceInvaders.js')
  script(src='/scripts/virtualJoystickReceiver.js')
  script(src='/scripts/spaceInvadersGameLoad.js')
  script.
    var config = config || {};
    config.addressRemote = '#{addressRemote}';  

block content
  #gameView
  #qrBackground
    #qrcode
