* {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none; /* prevent webkit from resizing text to fit */
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#viewText {
    color: white;
    text-align: center;
}

#lives {
    top: 0;
    border: 50px,50px,50px,50px;
    float: right;
    opacity: 0.6;
}

#viewScore {
    top: 10px;
    float: left;
    color: white;
    font-size: larger;
    height: auto;
}

#infosText {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: larger;
    font-size: x-large;
}

#controlView {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    background-image: url('../assets/portraittolandscape.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}

@media only screen and ( orientation:portrait) {
    
}